.lang {
  display: inline-flex;
  gap: 4px;

  & > span {
    text-transform: uppercase;

    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    cursor: pointer;

    &:hover {
      text-decoration-line: underline;
    }

    &.active {
      color: #3D40D5;
      opacity: 0.65;
      text-decoration-line: underline;
    }
  }
}